{% block complementary %}
<div role="complementary">

	<a href="https://www.djangoproject.com/download/" class="cta">

		Download <em>latest release: 4.0.5</em>

	</a>

	<a href="https://docs.djangoproject.com/" class="link-readmore">Django documentation</a>





	<div class="fundraising-sidebar">

		<h2>Support Django!</h2>


		<div class="small-heart">

			<img src="./The web framework for perfectionists with deadlines _ Django_files/fundraising-heart.cd6bb84ffd33.svg" alt="Support Django!">

		</div>


		<div class="small-cta">

			<ul class="list-links-small">

				<li><a href="https://www.djangoproject.com/fundraising/">

						VPN.nl donated to the Django Software Foundation to

						support Django development. Donate today!

					</a></li>

			</ul>

		</div>

	</div>




	<h3>Latest news</h3>

	<ul class="list-news">


		<li>

			<h4>

				<a href="https://www.djangoproject.com/weblog/2022/jun/24/pycharm-dsf-campaign-2022-results/">PyCharm &amp; DSF Campaign 2022 Results</a>

			</h4>


			<p>The JetBrains PyCharm Sponsorship Raised $25,000 for Django this year.</p>



			<span class="meta">

				Posted by <strong>William Vincent</strong> on June 24, 2022

			</span>


		</li>



		<li>

			<h4>

				<a href="https://www.djangoproject.com/weblog/2022/jun/21/django-41-beta-1-released/">Django 4.1 beta 1 released</a>

			</h4>


			<p>Today Django 4.1 beta 1, a preview/testing package for the upcoming Django 4.1 release, is available.</p>



			<span class="meta">

				Posted by <strong>Carlton Gibson</strong> on June 21, 2022

			</span>


		</li>


	</ul>


	<a href="https://www.djangoproject.com/weblog/" class="link-readmore">More news</a>


	<h3>New to Django?</h3>

	<ul class="list-links-small docs-list">

		<li><a href="https://docs.djangoproject.com/en/stable/intro/install/">Installation guide</a></li>

		<li><a href="https://docs.djangoproject.com/en/stable/intro/tutorial01/">Write your first Django app</a></li>

	</ul>

	<a href="https://www.djangoproject.com/start/" class="link-readmore">Getting started with Django</a>


	<h3>The power of Django</h3>

	<ul class="list-links-small docs-list">

		<li><a href="https://docs.djangoproject.com/en/stable/topics/db/models/">Object-relational mapper</a></li>

		<li><a href="https://docs.djangoproject.com/en/stable/intro/tutorial02/">Automatic admin interface</a></li>

		<li><a href="https://docs.djangoproject.com/en/stable/topics/templates/">Robust template system</a></li>

		<li><a href="https://docs.djangoproject.com/en/stable/topics/i18n/">Quick internationalization</a></li>

	</ul>

	<a href="https://www.djangoproject.com/start/overview/" class="link-readmore">Explore more features</a>


	<h3>Get involved</h3>

	<dl class="list-links-small">

		<dt><a href="https://code.djangoproject.com/">Ticket system</a></dt>

		<dd>

			Report bugs and make feature requests

		</dd>

		<dt><a href="https://dashboard.djangoproject.com/">Development dashboard</a></dt>

		<dd>

			see what's currently being worked on

		</dd>

	</dl>

	<a href="https://www.djangoproject.com/community/" class="link-readmore">Inside the Django community</a>


	<h3>Get Help</h3>

	<dl class="list-links-small">

		<dt><a href="irc://irc.libera.chat/django">#django IRC channel</a></dt>

		<dd>

			Chat with other Django users

		</dd>


		<dt><a href="https://discord.gg/xcRH6mN4fa" target="_blank">Django Discord Server</a></dt>

		<dd>

			Join the Django Discord Community

		</dd>


		<dt><a href="https://forum.djangoproject.com/" target="_blank">Official Django Forum</a></dt>

		<dd>

			Join the community on the Django Forum.

		</dd>

	</dl>


	<h3>The Django Software Foundation</h3>

	<dl class="list-links-small">

		<dt><a href="https://www.djangoproject.com/foundation/">About the Foundation</a></dt>

		<dd>

			Our non-profit supports the project

		</dd>


		<dt><a href="https://www.djangoproject.com/foundation/donate/">Support Django</a></dt>

		<dd>

			Your contribution makes Django stronger

		</dd>


		<dt><a href="https://www.djangoproject.com/contact/foundation/">Contact the Django Software Foundation</a></dt>

		<dd></dd>

	</dl>

	<a href="https://www.djangoproject.com/foundation/" class="link-readmore">More about the DSF</a>


</div>
{% endblock %}
